#ignored files
.venv/
.pytest_cache/
__pycache__/
config.py
rand.ipynb
HumanEval3_q1.txt
HumanEval3_q2.txt
Ollama_Translate_Java/Feedback/
HumanEval3_java.txt
Ollama_Translate_Java/test.py
Ollama_Translate_Java/tests/
Ollama_Translate_Java/test_rafactor.txt
Test_Coverage_Java/target/
Ollama_Translate_Java/test_refactor2.txt
Refactor_Java/
Test_Coverage_Java2/
Ollama_Translate_Java/Refactor
Translate_code/
# Ignore other common files
*.pyc
*.pyo
*.pyd
*.vscode