#ignored files
.venv/
.pytest_cache/
__pycache__/
rand.ipynb
HumanEval3_q1.txt
HumanEval3_q2.txt
Translate_Java/functions/
HumanEval3_java.txt
Translate_Java/test.py
Translate_Java/tests/
Test_Coverage_Java/target/

# Ignore other common files
*.pyc
*.pyo
*.pyd
*.vscode